    body {
        height: 200vh;
        background-color: #EEE5E9;
    }

    h1 {
        color: #000000;
        text-align: center;
        transition: opacity 0.8s ease, transform 0.8s ease;
        font-size: 80px;
        font-family: Georgia, serif;
    }

    h2 {
        color: #000000;
        text-align: center;
        transition: opacity 0.8s ease, transform 0.8s ease;
        font-size: 60px;
        font-family: Georgia, serif;
    }
    

    p, li {
        font-family: Verdana, sans-serif;
        color: #000000;
        line-height: 1.6;
        transition: opacity 0.8s ease, transform 0.8s ease;
        font-size: 30px;
    }

    #scroll-wrapper {
        margin-top: 50vh;
        }

    .scroll {
      opacity: 0;
      transform: translateY(40px);
      transition: all 0.6s ease-out;
      margin: 50vh 0; 
    }

    .scroll.current {
      opacity: 1;
      transform: translateY(0);
    }

    .scroll.current h1 {
      font-weight: bold;
    }

    svg {
        width: 100%;
        height: 400px;   
        display: block; 
        margin: auto
    }

    .fullscreen-photo {
        height: 200vh; 
        background-image: url("images/fire_photo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
    }

    .intro_text {
        margin-bottom: 500px;
        color: #FFFFFF;
        -webkit-text-stroke: 0.5px black;
        text-align: center;
        transition: opacity 0.8s ease, transform 0.8s ease;
        font-size: 40px;
        font-family: Georgia, serif;
    }

    a { 
      color: inherit; 
    }

    #tall_svg {
        width: 100%;
        height: 800px;   
        display: block; 
        margin: auto;
        flex: 1;
        max-width:55%
    }

    #split_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;            
    width: 100%;
    }

    #left_text {
        flex: 1;           
        max-width: 45%;
    }

    svg text {
         user-select: none;
    }
