    body {
        height: 200vh;
        background-color: #EEE5E9;
    }

    h1 {
        color: #000000;
        text-align: center;
        transition: opacity 0.8s ease, transform 0.8s ease;
        font-size: 80px;
        font-family: Georgia, serif;
    }
    

    p {
        font-family: Verdana, sans-serif;
        color: #000000;
        line-height: 1.6;
        transition: opacity 0.8s ease, transform 0.8s ease;
        font-size: 30px;
    }

    #scroll-wrapper {
        margin-top: 50vh;
        }

    .scroll {
      opacity: 0;
      transform: translateY(40px);
      transition: all 0.6s ease-out;
      margin: 50vh 0; 
    }

    .scroll.current {
      opacity: 1;
      transform: translateY(0);
    }

    .scroll.current h1,
    .scroll.current p {
      font-weight: bold;
    }

    svg {
        width: 100%;
        height: 400px;   
        display: block; 
        margin: auto
    }